{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load avatar_tags %}

{% block body_class %}account account-profiles{% endblock %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block body %}
<div>
  {% avatar user %}
  <a href="{% url 'avatar_change' %}">Change your avatar</a>
</div>
<div class="row">
  <div class="col-md-5">
    <form method="POST" action="{% url 'account-profile' %}">
      <legend>{% trans "Profile" %}</legend>
      {% csrf_token %}
      {{ form|bootstrap }}
      <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
    </form>
  </div>
</div>
{% endblock %}
