{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}All Submission{% endblock %}

{% block body_class %}all-submission{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    {% include "_messages.html" %}
    <h1>Submissions</h1>
    <ul>
      {% for submission in object_list %}
      <li><a href="{%url 'submission:submission-detail' submission.pk %}">{{ submission.pk }}</a></li>
      {% empty %}
      <li>No articles yet.</li>
      {% endfor %}
    </ul>
    {% bootstrap_pagination page_obj %}
  </div>
</section>
{% endblock %}
