{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load django_tables2 %}

{% block head_title %}All Submission{% endblock %}

{% block body_class %}all-submission{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    {% include "_messages.html" %}
    <h1>Submissions</h1>
      <form id="filter" action="" method="get">
        <div class="col-lg-2">
          {% bootstrap_form filter.form %}
        </div>
        <div class="col-lg-2">
          <br>
          <input value="Filter" type="submit" id="group-search-submit" class="btn btn-large btn-primary"/>
        </div>
      </form>
    {% render_table submissions_table %}
    {% bootstrap_pagination page_obj %}
  </div>
</section>
{% endblock %}
