{% extends "site_base.html" %}
{% block head_title %}测验列表{% endblock %}
{% block body %}
    {% if contest_list and contest_list.count > 0 %}
        <div class="container">
            <div class="row">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <th>课程分班</th>
                        <th>标题</th>
                        <th>开始时间</th>
                        <th>时长</th>
                        <th>状态</th>
                    </thead>
                    {% for c in contest_list %}
                    <tr{%if c.status == 'running'%} class="info"{%endif%}>
                        <td>{{ c.group }}</td>
                        <td><a href="{% url 'contest:show_contest' c.cid %}">{{ c.title }}</a></td>
                        <td>{{ c.start_time|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ c.duration }} 分钟</td>
                        <td>{% if c.status == 'ended' %}已结束{% elif c.status == 'running' %}进行中{% else %}未开始{% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}
