{% extends "site_base.html" %}
{% block head_title %}{{ object.title }}{% endblock %}
{% block body %}
<div class="page-header">
    <Meta http-equiv="Refresh" Content="50;">
    {%if is_admin %}
    {%if object.status == "ended"%}<button class="btn btn-inverse pull-right" onclick="postRequest();" id="submit">代码查重</button>{%endif%}
    <a class="btn pull-right" href="/contest/{{ object.pk }}/add_notice/">添加公告</a>
    <a class="btn btn-primary pull-right" href="{% url 'contest:contest-update' pk %}">修改测验</a>
    {%endif%}
    {% block contest_title %}
    <h1>{{ object.title }}
    </h1>
    <small>{% if object.status == "ended" %}已结束{% elif object.status == "running" %}进行中{% else %}未开始{% endif %}</small>
    {% endblock %}
</div>
<ul class="nav nav-pills">
    <li id="contest_home"><a href="{% url "contest:contest-detail" object.pk %}">测验首页</a></li>
    <li id="contest_submit"><a href="{% url "contest:submission-add" object.pk %}">提交代码</a></li>
    <li id="contest_status"><a href="{% url "contest:submission-list" object.pk %}">结果列表</a></li>
    <li id="contest_query"><a href="{% url "contest:clarification-list" object.pk %}">提问列表</a></li>
    <li id="contest_board"><a href="{% url "contest:board" object.pk %}">排行榜</a></li>
    {%if tpl.has_priv%}<li id="contest_balloon"><a href="/contest/{{ object.pk }}/balloon/">气球</a></li>{% endif %}
</ul>
<div id="contest_info">
    <div class="kari-head-info">
        <span class="kari-head-info"><strong>课程分班 </strong>{{ object.group.nickname }}</span>
        {%if object.description%}<br><br><span class="kari-head-info"><strong>测验描述 </strong>{{ object.desc|safe }}</span>{%endif%}
    </div>
    <div class="kari-head-info">
        <span class="kari-head-info"><strong>当前时间 </strong><span class="clock">{% now "Y-m-d H:i:s" %}</span></span>
        <span class="kari-head-info"><strong>开始时间 </strong>{{ object.start_time|date:"Y-m-d H:i:s" }}</span>
        <span class="kari-head-info"><strong>总长 </strong>{{ object.length }} 分钟</span>
        <span class="kari-head-info"><strong>剩余 </strong>{{ object.time_left }} 分钟</span>
    </div>
    <div class="row">
        <div class="progress span12"><div class="progress-bar" style="width:{{ object.time_passed_percent }}%"></div></div>
    </div>
</div>
{% if contest_notice_list and contest_notice_list|length > 0 %}
<div>
<h2>测验公告</h2>
<table class="table table-bordered table-striped table-hover table-word-break">
    <thead>
        <th width="15%">时间</th>
        <th width="30%">标题</th>
        <th>内容</th>
        {%if tpl.has_priv%}
        <th width="5%">修改</th>
        {%endif%}
    </thead>
    {% for cn in contest_notice_list %}
    <tr>
        <td>{{ cn.time|date:"Y-m-d H:i:s" }}</td>
        <td><a href="/contest/{{ object.cid }}/notice/{{ cn.cnid }}/">{{ cn.title }}</a></td>
        <td>{{ cn.content }}</td>
        {%if tpl.has_priv%}
        <th><a href="/contest/{{ object.cid }}/notice/{{ cn.cnid }}/update/">修改</a></th>
        {%endif%}
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}
      <div class="container" id="wrapper">
{% block contest_body %} {% endblock contest_body %}
  </div>
    <script src="{{ STATIC_URL }}js/jquery-2.1.1.js"></script>
    {% block script_extra %} {% endblock %}
{% endblock %}


