{% extends "contest/contestBase.html" %}
{% block body_extra_attributes %}onload="activateTag('contest_query')"{% endblock %}
{% block contest_body %}
    {%if tpl.has_priv or contest.status != 'scheduled'%}
        <div>
            <a class="btn btn-primary pull-right" href="">添加提问</a>
            <h2>提问列表</h2>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th>题号</th>
                    <th>提问者</th>
                    <th>问题</th>
                    <th>回答</th>
                </thead>
                {% for q in query_list %}
                    <tr>
                        <td><a href="{% url 'contest:contest_problem' contest.cid q.cp_index %}">{{ q.cp_index }}</a></td>
                        <td><a href="">{{ q.username }}</a></td>
                        <td>{{ q.question }}ms</td>
                        <td>{{ q.answer }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}


