{% extends "contest/contestBase.html" %}
{% block body_extra_attributes %}onload="activateTag('contest_home')"{% endblock %}
{% block contest_body %}
{%if tpl.has_priv or contest.status != 'scheduled'%}
<div>
<h2>题目列表</h2>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <th>题目</th>
        <th>标题</th>
        <th>时间限制</th>
        <th>内存限制</th>
        <th>通过数 / 提交数</th>
        <th>通过率</th>
    </thead>
    {% for p in problem_list %}
    <tr>
        {% comment %}
        <td>{%if p.user_res == 1%}<strong><center><font color=red>Yes</font></center></strong>{%endif%}</td>
        {% endcomment %}
        <td>{{ p.cp_index }}</td>
        <td><a href="{% url 'contest:contest_problem' contest.cid p.cp_index %}">{{ p.cp_title }}</a></td>
        <td>{{ p.climt }}ms</td>
        <td>{{ p.mlimt }}KB</td>
        <td>{{p.ac}} / {{p.sub}}</td>
        <td>{{p.ratio|floatformat:2}} %</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endif %}

{% endblock %}


