
{% extends "contest/contest_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load django_tables2 %}
{% block body_extra_attributes %}onload="activateTag('contest_status')"{% endblock %}
{% block contest_body %}
    <div class="container" id="wrapper">
           <form id="filter" action="" method="get" class="form-inline">
              {% bootstrap_form filter.form %}
            <div class="form-group">
              <input value="Filter" type="submit" id="group-search-submit" class="btn btn-large btn-primary"/>
            </div>
          </form>
        {% render_table submissions_table %}
        {% bootstrap_pagination page_obj %}
    </div>
    <script src="{{ STATIC_URL }}js/jquery-2.1.1.js"></script>
{% endblock %}

