{% extends "contest/contest_base.html" %}
{% block body_extra_attributes %}onload="activateTag('contest_status')"{% endblock %}
{% block contest_body %}
    {%if tpl.has_priv or contest.status != 'scheduled'%}
        <div>
            <h2>结果列表</h2>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th>ID</th>
                    <th>题号</th>
                    <th>结果</th>
                    <th>时间</th>
                    <th>内存</th>
                    <th>语言</th>
                    <th>代码长度</th>
                    <th>提交时间</th>
                    <th>用户</th>
                </thead>
                {% for s in submission_list %}
                    <tr>
                        <td>{{ s.cpsid }}</td>
                        <td><a href="{% url 'contest:contest_problem' contest.cid s.cp_index %}">{{ s.cp_index }}</a></td>
                        <td><strong><a href="" class="{{ s.cps_status_class }}">{{ s.cps_status }}</a></strong></td>
                        <td>{{ s.cps_timecost }}ms</td>
                        <td>{{ s.cps_memerycost }}KB</td>
                        <td>{{ s.cps_language}}</td>
                        <td>{{ s.cps_codelength }}B</td>
                        <td></strong>{{ s.cps_submittime|date:"Y-m-d H:i:s" }}</td>
                        <td><a href="">{{ s.cps_username }}</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endblock %}


