{% extends "site_base.html" %}

{% load bootstrap %}

{% block body %}
    <section class="jumbotron">
        <div class="container">
            <div class="page-header">
            <Meta http-equiv="Refresh" Content="50;">
            <h1>{{ contest.title }}</h1>
            {% if object.last_notification %}
            <h4>
            <strong>New Notification: </strong><a href="{% url 'contest:notification-list' object.pk %}">{{ object.last_notification }}</a>
            </h4>
            {% endif %}
        </div>
        <ul class="nav nav-pills">
            <li id="contest_home"><a href="{% url "contest:contest-detail" contest.pk %}">测验首页</a></li>
            <li id="contest_submit"><a href="{% url "contest:submission-add" contest.pk %}">提交代码</a></li>
            <li id="contest_status"><a href="{% url "contest:submission-list" contest.pk %}">结果列表</a></li>
            <li id="contest_query"><a href="{% url "contest:clarification-list" contest.pk %}">提问列表</a></li>
            <li id="contest_board"><a href="{% url "contest:board" contest.pk %}">排行榜</a></li>
            {%if tpl.has_priv%}<li id="contest_balloon"><a href="/contest/{{ contest.pk }}/balloon/">气球</a></li>{% endif %}
        </ul>
            <h1>{{ problem.title }}</h1>
            <h3>create submission</h3>
            <form action="" method="post" class="form" role="form">{% csrf_token %}
                {{ form|bootstrap }}
                <input type="submit" onclick="submit()"/>
            </form>
        </div>
    </section>

{% endblock %}

{% block extra_body %}

<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/plugins/codemirror/codemirror.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/plugins/codemirror/ambiance.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/animate.css" rel="stylesheet">

<script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="{{ STATIC_URL }}js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- CodeMirror -->
<script src="{{ STATIC_URL }}js/plugins/codemirror/codemirror.js"></script>
<script src="{{ STATIC_URL }}js/plugins/codemirror/mode/javascript/javascript.js"></script>

<!-- Custom and plugin javascript -->
<script src="{{ STATIC_URL }}js/plugins/pace/pace.min.js"></script>
<script>

var editor_one = CodeMirror.fromTextArea(document.getElementById("id_submission__code"), {
     lineNumbers: true,
     matchBrackets: true,
     styleActiveLine: true,
    });
function submit() {
    $.post("/api/contest/{{ object.pk }}/submit/",{
       language: $('#id_language').val(),
       code: $('#id_code').val(),
       index: $('#id_index').val()
    }, function (result) {
       alert(result);
    }, "json");
}

</script>

{% endblock %}
