{% extends "contest/contest_base.html" %}

{% load i18n %}

{% block head_title %}My Submission{% endblock %}

{% block body_class %}my-submission{% endblock %}

{% block contest_body %}
        <div class="row white-bg">
            <div class="col-lg-10">
                <div class="container">
                    <div class="row">
                        <a href="{% url 'contest:problem-detail' contest.pk object.problem.index %}">
                            <h2>{{ object.problem.title }}</h2>
                        </a>
                    </div>
                    <div class="row">
                         <ol class="breadcrumb">
                            <li>
                              <a href="{% url 'contest:submission-list' contest.pk %}">Submission List</a>
                            </li>
                          <li class="active">
                              <strong>{{ object.submission.user.username }}</strong>
                          </li>
                         </ol>
                    </div>
               </div>
           </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="row white-bg">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content">
                   <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox">
                                <div class="ibox-content">
                                    <textarea id="code-text">{{ object.submission.code }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for case in cases %}
                    <br>
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">
                                    <p>{{ case.position }}th case: </p>
                                </div>
                                <div class="col-md-1">
                                    <span class="label label-primary">{{ case.status }}</span>
                                </div>
                                <div class="col-md-9"></div>
                            </div>
                            <h5>run_time: {{ case.time }} ms</h5>
                            <h5>run_limit: {{ case.memory }}KB<h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
{% block script_extra %}

<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/plugins/codemirror/codemirror.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/plugins/codemirror/ambiance.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/animate.css" rel="stylesheet">

<script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="{{ STATIC_URL }}js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<!-- CodeMirror -->
<script src="{{ STATIC_URL }}js/plugins/codemirror/codemirror.js"></script>
<script src="{{ STATIC_URL }}js/plugins/codemirror/mode/javascript/javascript.js"></script>

<!-- Custom and plugin javascript -->
<script src="{{ STATIC_URL }}js/plugins/pace/pace.min.js"></script>
<script>

var editor_one = CodeMirror.fromTextArea(document.getElementById("code-text"), {
     lineNumbers: true,
     matchBrackets: true,
     styleActiveLine: true,
     readOnly: true
    });

</script>

{% endblock %}