{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load mptt_tags %}
{% load django_tables2 %}
{% load guardian_tags %}

{% block head_title %}My Groups{% endblock %}

{% block body_class %}my-groups{% endblock %}

{% block body %}
<section class="jumbotron">
  <div class="container">
    {% include "_messages.html" %}
    <h1>Groups {{ object.name }} - {{ object.profile.nickname }}</h1>
    <h4>Admins</h4>
    <ul>
      {% for admin in admins %}
      <li>{{ admin.username }}</li>
      {% empty %}
      <li>No admin yet.</li>
      {% endfor %}
    </ul>
    <h4>Parents</h4>
	<ul>
      {% for profile in object.get_ancestors %}
		<a href="{%url 'mygroup-detail' profile.pk %}">{{ profile.name }}</a>
	  {% empty %}
	  <li> No Parents </li>
      {% endfor %}
	</ul>
    <h4>Children</h4>
    <ul>
      {% for profile in children %}
      <li><a href="{%url 'mygroup-detail' profile.pk %}">{{ profile.name }}</a></li>
      {% empty %}
      <li>No child yet.</li>
      {% endfor %}
    </ul>
	<div id="jstree_id">
	</div>
  </div>
  <h3>group member</h3>

  {% render_table group_users_table %}

  {% get_obj_perms request.user for object as "object_perms" %}

  {% if "change_groupprofile" in object_perms %}
  <div>
    <a href="{% url 'mygroup-add-member' object.pk %}" class="btn btn-large btn-primary">Members</a>
    <a href="{% url 'mygroup-update' object.pk %}" class="btn btn-large btn-primary">Update</a>
    <a href="{% url 'mygroup-reset-password' object.pk %}" class="btn btn-large btn-primary">Reset</a>
  </div>
  {% endif %}
</section>
{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}jstree.min.js"></script>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}themes/default/style.min.css"></script>
<script>
$(function(){
	var data = {{ tree_list | safe }};
	var dic = {};
	for (r in data) {
		dic[r.id] = r.state;
	}

	$('#jstree_id').jstree({
		"core" : {
		"animation" : 0,
		"check_callback" : true,
		"themes" : { "stripes" : true },
		"data": data,
	  },
		
	  "plugins" : [
		"contextmenu", "dnd", "search",
		"state", "types", "wholerow"
	  ]
	});
	$.jstree.reference("#jstree_id").select_node("{{ object.name }}");
	
	// $('#jstree_id').on('click.jstree', function(e){
	//	alert(e.id);
	//});

});
</script>
{% endblock %}
