{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}My Groups{% endblock %}

{% block body_class %}{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    <h3>group member</h3>
    <div id="example"></div>
    <br>
    <div class="input-group col-lg-2">
      <input type="number" id="new-lines-number" min="1" max="1000" class="form-control input-sm" value="1">
      <span class="input-group-btn">
        <button id="btn-new-line" class="btn btn-primary btn-sm" type="button">New</button>
      </span>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}handsontable/handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}handsontable/handsontable.full.css"></script>
<script>
  $(document).ready(function(){
    var _data = [
      ["aa","ok","gg","gg"],
      ["aa","ok","gg","gg"],
      ["aa","ok"],
    ];

    var table = $("#example").handsontable({
      data: _data,
      fillHandle: "horizontal",
      rowHeaders: true,
      colHeaders: ['username', 'nickname', 'email', 'password'],
    });
    /* var pk = window.location.pathname.split('/').slice(-3,-2); */
    /* var _url = '/api/groups/'+pk+'/users/'; */
    /* $.get(_url,function(data,status){ */
      /* alert("Data: " + data.data[0].username+ "\nStatus: " + status); */
      /* table.handsontable('loadData',data.data); */
    /* }); */
    $("#btn-new-line").click(function(){
      table.handsontable('alter', 'insert_row',null,$("#new-lines-number").val());
    });
  });
</script>
{% endblock %}
