{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}My Groups{% endblock %}

{% block body_class %}{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    <h3>group member</h3>
    <div id="example"></div>
    <br>
    <div class="row">
      <div class="col-lg-2">
        <div class="input-group">
          <input type="number" id="new-lines-number" min="1" max="1000" class="form-control input-sm" value="1">
          <span class="input-group-btn">
            <button id="btn-del-line" class="btn btn-warning btn-sm" type="button">Del</button>
          </span>
          <span class="input-group-btn">
            <button id="btn-add-line" class="btn btn-info btn-sm" type="button">Add</button>
          </span>
        </div>
      </div>
      <div class="col-lg-offset-6 col-lg-2">
        <a href="{% url 'user-add' %}" target="_blank" class="btn btn-large btn-warning">New Users</a>
      </div>
      <div class="col-lg-offset-1">
        <button class="btn btn-primary" id="submit-btn">Add Users</button>
        <a href="{% url 'mygroup-detail' pk  %}" class="btn btn-large btn-primary">Finished</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}handsontable/handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}handsontable/handsontable.full.css"></script>
<script>
  $(document).ready(function(){
    var _data = [
      {"username":""},
    ];
    var pk = window.location.pathname.split('/').slice(-3,-2);
    var _url = '/api/groups/'+pk+'/members/';
    $.ajax({
      type: "GET",
      url: _url,
      success: function(res){
        if(res.length>0)
          _data.length = 0;
        for (var i=0;i<res.length;i++){
          _data.push(res[i]);
          _data[i].status="already added";
        }
        table.handsontable('loadData', _data);
        table.handsontable('addHook', 'afterChange', function(changes, source) {
          if(source=="edit"||source=="paste"){
            for (var i=0;i<changes.length;i++){
              if(changes[i][1]=="username" && changes[i][2] != changes[i][3]){
                var r = changes[i][0]
                _data[r].status="";
              }
            }
          }
          table.handsontable('render');
        });
      }
    });
    var table = $("#example").handsontable({
      data: _data,
      stretchH: 'all',
      fillHandle: "horizontal",
      rowHeaders: true,
      columnSorting: true,
      colHeaders: ['username', 'status'],
      columns: [
        {data: 'username'},
        {data: 'status',readOnly: true},
      ],
      comments: true,

    });
    $("#submit-btn").click( function() {
      $.ajax({
        type: "POST",
        url: _url,
        data: JSON.stringify(table.handsontable('getSourceData')),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(res){
          _data.length = 0;
          for (var i=0;i<res.length;i++){
            _data.push(res[i]);
            _data[i].status="already added";
          }
          table.handsontable('loadData', _data);
          alert("All is added!");
        },
        error: function(errors) {
          errors=errors.responseJSON;
          for (var i=0;i<errors.length;i++){
            if(Object.keys(errors[i]).length==0)
              _data[i].status="ok";
            else{
              _data[i].status=errors[i].username;
            }
          }
          table.handsontable('loadData', _data);
          alert("error!");
        }
      });
    });
    $("#btn-add-line").click(function(){
      var number=$("#new-lines-number").val();
      table.handsontable('alter', 'insert_row',null,number);
    });
    $("#btn-del-line").click(function(){
      var number=$("#new-lines-number").val();
      table.handsontable('alter', 'remove_row',_data.length-number,number);
    });
  });
</script>
{% endblock %}
