{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load mptt_tags %}
{% load django_tables2 %}
{% load guardian_tags %}

{% block head_title %}My Groups{% endblock %}

{% block body_class %}my-groups{% endblock %}

{% block body %}
<section class="jumbotron">
  <div class="container">
    {% include "_messages.html" %}
    <h1>Groups {{ object.name }} - {{ object.profile.nickname }}</h1>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="jstree_id">
				</div>
			</div>
			<div class="col-md-6">
				<table class="table" id="table">
					<thead>
						<tr>
							<th>#</th>
							<th>nickname</th>
							<th>username</th>
							<th>createtime</th>
						</tr>
					</thead>
					<tbody id="tbody">
					</tbody>
				</table>
			</div>
		</div>
	</div>
  </div>
  <h3>group member</h3>

  {% get_obj_perms request.user for object as "object_perms" %}

  {% if "change_groupprofile" in object_perms %}
  <div>
    <a href="{% url 'mygroup-add-member' object.pk %}" class="btn btn-large btn-primary">Members</a>
    <a href="{% url 'mygroup-update' object.pk %}" class="btn btn-large btn-primary">Update</a>
    <a href="{% url 'mygroup-reset-password' object.pk %}" class="btn btn-large btn-primary">Reset</a>
  </div>
  {% endif %}
</section>
{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}jstree.min.js"></script>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}themes/default/style.min.css"></script>
<script>
function get_detail(group_pk) {
	$.get('/api/groups/' + group_pk + '/detail/', function(data){
		$("#table").html(data.table);
	});

}

$(function(){
	var data = {{ tree_list | safe }};
	var group_id = {{ group_pk | safe }};
	$.get('/api/groups/' + group_id + '/detail/', function(data){
		$("#table").html(data.table);
	});

	$('#jstree_id').jstree({
		"core" : {
		"animation" : 0,
		"check_callback" : true,
		"themes" : { "stripes" : true },
		"data": data,
	  },
		
	  "plugins" : [
		"contextmenu", "dnd", "search",
		"state", "types", "wholerow"
	  ]
	});
	//$.jstree.reference("#jstree_id").select_node("{{ object.name }}");
	
	//$('#jstree_id').on('click.jstree', function(e){
	//});

});
</script>
{% endblock %}
