{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}My Groups{% endblock %}

{% block body_class %}my-groups{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    <h3>create group</h3>
    <form action="" method="post">{% csrf_token %}
      {% bootstrap_form group_form %}
      {% bootstrap_form group_profile_form %}
      <input type="submit" value="Save" />
    </form>
  </div>
</section>
{% endblock %}

{% block extra_body %}
  {{ group_form.media.js }}
  {{ group_form.media.css }}
  {{ group_profile_form.media.js }}
  {{ group_profile_form.media.css }}
{% endblock %}
