{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}My Groups{% endblock %}

{% block body_class %}{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    <h3>group member</h3>
    <div id="example"></div>
    <br>
    <div class="row">
      <div class="col-lg-2">
      <div class="input-group">
        <input type="number" id="new-lines-number" min="1" max="1000" class="form-control input-sm" value="1">
        <span class="input-group-btn">
          <button id="btn-del-line" class="btn btn-warning btn-sm" type="button">Del</button>
        </span>
        <span class="input-group-btn">
          <button id="btn-add-line" class="btn btn-info btn-sm" type="button">Add</button>
        </span>
      </div>
      </div>
	  <div class="col-lg-2">
		  <select id='select_id'>
			  <option value="-1">No Group</option>
		  {% for g in group_can_change %}
			<option value="{{g.pk}}" {% if g.pk == select_group %}selected="selected"{% endif %}>{{ g.nickname }}</option>
		  {% endfor %}
		  </select>
	  </div>
      <div class="col-lg-offset-9">
        <button class="btn btn-primary" id="submit-btn">Submit</button>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_body %}
<script src="{{ STATIC_URL }}handsontable/handsontable.full.js"></script>
<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}handsontable/handsontable.full.css"></script>
<script>
  $(document).ready(function(){
	var _data = [
	  {},
	];

    var table = $("#example").handsontable({
      data: _data,
      stretchH: 'all',
      fillHandle: "horizontal",
      rowHeaders: true,
      columnSorting: true,
      colHeaders: ['username', 'nickname', 'password', 'status'],
      columns: [
        {data: 'username'},
        {data: 'nickname'},
        {data: 'password'},
        {data: 'status',readOnly: true},
      ],
      comments: true,

    });

    $("#submit-btn").click( function() {
      var dict = {},valid=true;
      for(var i=0;valid&&i<_data.length;i++){
        if(_data[i].username==""){
          valid=false;
          alert("do not let username empty!");
        }
        else if(dict[_data[i].username]==null){
          dict[_data.username]=true;
        }
        else {
          valid=false;
          alert("let username unique!");
        }
      }
      if(valid){
        $.ajax({
          type: "POST",
          url: '/api/users/bulk_create/',
		  data: JSON.stringify({
			  users: table.handsontable('getSourceData'),
			  group_pk: $("#select_id").val()
		  }),
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          success: function(res){
            /* alert(JSON.stringify(res)); */
            for (var i=0;i<3*res.length;i++){
              table.handsontable('getPlugin','comments').removeCommentAtCell(i/3, i%3);
            }
            for (var i=0;i<res.length;i++){
              _data[i].status="added"
			  _data[i].password=res[i].password
            }
            table.handsontable('render');
            alert("All is added!");
          },
          error: function(errors) {
            // errors=errors.responseJSON;
            for (var i=0;i<3*errors.length;i++){
              table.handsontable('getPlugin','comments').removeCommentAtCell(i/3, i%3);
            }
            for (var i=0;i<errors.length;i++){
              if(Object.keys(errors[i]).length==0)
                _data[i].status="ok";
              else{
                if(errors[i].username)
                  table.handsontable('getCellMeta', i, 0).comment=errors[i].username;
                if(errors[i].nickname)
                  table.handsontable('getCellMeta', i, 1).comment=errors[i].nickname;
                if(errors[i].password)
                  table.handsontable('getCellMeta', i, 2).comment=errors[i].password;
                _data[i].status="error";
              }
            }
            table.handsontable('render');
            alert("error!");
          }
        });
      }
    });
    $("#btn-add-line").click(function(){
      table.handsontable('alter', 'insert_row',null,$("#new-lines-number").val());
    });
    $("#btn-del-line").click(function(){
      var number=$("#new-lines-number").val();
      table.handsontable('alter', 'remove_row',_data.length-number,number);
    });
  });
</script>
{% endblock %}
