{% extends "site_base.html" %}
{% load staticfiles %}
{% block extra_head_base %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css" type="text/css" charset="utf-8">

    <!--CombineResourcesFilter-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/planeui.min.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/prettify.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/clear.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style2.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/second-level-menu.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/roundbox.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/datatable.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/table-form.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/topic.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sidebar-menu.css" type="text/css" charset="utf-8">


    <script type="text/javascript" src="{{ STATIC_URL }}js/prettify/prettify.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.lavalamp.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/sjcl.js"></script>

    <!--/CombineResourcesFilter-->

    <link rel="stylesheet" href="{{ STATIC_URL }}editormd/css/editormd.css" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}editormd/lib/katex.min.css">
    <script id="-cdnjs-cloudflare-com-ajax-libs-KaTeX-0-3-0-katex-min" type="text/javascript" src="{{ STATIC_URL }}editormd/lib/katex.min.js"></script>

{% endblock %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{{ object.title }}{% endblock %}

{% block body_base %}
<section class="jumbotron">
    <div class="container">
        <div style="position: relative;">
            <div id="sidebar">
                <div class="roundbox sidebox" style="top:40px">
                    <div class="roundbox-lt">&nbsp;</div>
                    <div class="roundbox-rt">&nbsp;</div>
                    <div class="caption titled">admin</div>
                    <div class="personal-sidebar">
                        <div class="for-avatar">
                            <div class="avatar">
                            </div>
                        </div>
                        <div>
                            <ul class="nav-links">
                                <li><a href="/accounts/groups">Groups</a></li>
                            </ul>
                        </div>
                        <br style="clear:both;">
                    </div>
                </div>

            </div>

            <div id="pageContent" class="content-with-sidebar">
                <div class="second-level-menu">
                    <ul class="second-level-menu-list">
                        <li><a href="/problem/add">Add Problem</a></li>
                    </ul>
                </div>


                <div class="roundbox " style="padding:1em 1em 0 1em;">
                    <div class="roundbox-lt">&nbsp;</div>
                    <div class="roundbox-rt">&nbsp;</div>
                    <div class="roundbox-lb">&nbsp;</div>
                    <div class="roundbox-rb">&nbsp;</div>

                    <div class="userbox">
                        <div class="info">
                            <h3>Add New Problem</h3>
                            <form id="problem-create-form" method="post" action="" onsubmit="" style="width:100%;">{% csrf_token %}
                                <table class="table-form" style="margin-left:0;">

                                    <tbody>
                                        <tr>
                                            <td class="field-name">Problem Title</td>
                                            <td><input style="width: 15em; cursor: auto;" id="title" name="title" type="text" autocomplete="off" value="Untitled"></td>
                                        </tr>

                                        <tr>
                                            <td class="field-name">Time Limit(ms)</td>
                                            <td><input style="width: 15em; cursor: pointer;" id="timelimit" name="timelimit" type="number" value="1000" autocomplete="off"></td>
                                        </tr>

                                        <tr>
                                            <td class="field-name">Memory Limit(MB)</td>
                                            <td><input style="width: 15em; cursor: auto;" id="memorylimit" name="memorylimit" type="number" autocomplete="off" value="64"></td>
                                        </tr>

                                        <tr>
                                            <td class="field-name">Code Length Limit(MB)</td>
                                            <td><input style="width: 15em; cursor: auto;" id="codelengthlimit" name="codelengthlimit" type="number" autocomplete="off" value="64"></td>
                                        </tr>



                                        <tr>
                                            <td class="field-name">Problem Description</td>
                                            <td>
                                                <div id="test-editormd">
                                                    <textarea style="display:none;"></textarea>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="field-name">Sample Input</td>
                                            <td><textarea style="width: 30em; cursor: auto;" id="sample-input" name="sample-input" autocomplete="off"></textarea></td>
                                        </tr>

                                        <tr>
                                            <td class="field-name">Sample Output</td>
                                            <td><textarea style="width: 30em; cursor: auto;" id="sample-output" name="sample-output" autocomplete="off"></textarea></td>
                                        </tr>

                                        <tr>
                                            <td class="field-name">special judge</td>
                                            <td>
                                                <select id="spj" name="spj" style="width: 25em;">
                                                    <option value="No">No</option>
                                                    <option value="Yes">Yes</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table-form">
                                    <tbody>
                                        <tr><td>
                                            <div style="text-align:center;width:100%;">
                                                <input class="submit" type="submit" value="Submit" onclick="submit();">
                                            </div>
                                        </td></tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            .personal-sidebar {
                margin: 1em;
            }

            .personal-sidebar .for-avatar {
                float: right;
            }

            .personal-sidebar li {
                font-size: 0.8em;
            }

            .personal-sidebar .nav-links {
                margin-top: 0.5em;
            }

            .personal-sidebar .nav-links li {
                list-style: disc;
                list-style-position: inside;
            }
        </style>
        <style>
            .tShirtSizeErrorField div {
                width: 30em;
            }
        </style>
        <style>
            .userbox {
                overflow: hidden;
            }
            .userbox .info {
                    margin-right: 0px;
            }
            .userbox .right-frame {
                float: right;
                width: 350px;
                display: inline;
                margin-left: -360px;
                margin-bottom: 1em;
            }
        </style>
        <style type="text/css">
            .subformContainer {
                width: 100%;
            }

            .subformContainer tr td:first-child {
                width: 75%;
            }
        </style>
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}editormd/editormd.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}editormd/lib/katex.min.js"></script>
        <script type="text/javascript">
            function submit() {
                document.getElementsById("problem-create-form").submit();
            }

            $(function() {
                var testEditor = editormd("test-editormd", {
                    width: 1000,
                    height: 640,
                    markdown : "",
                    syncScrolling : "single",
                    path : '{{ STATIC_URL }}editormd/lib/',
                    tex : true,
                    codeFold : true,
                    //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为 true
                    //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为 true
                    //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为 true
                    //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为 0.1
                    //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为 #fff
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "{{ STATIC_URL }}editormd/php/upload.php?test=dfdf",

                    /*
                     上传的后台只需要返回一个 JSON 数据，结构如下：
                     {
                        success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
                        message : "提示的信息，上传成功或上传失败及错误信息等。",
                        url     : "图片地址"        // 上传成功时才返回
                     }
                     */
                });
            });
        </script>
    </div>
</section>
{% endblock %}

{% block extra_body %}
  {{ form.media.js }}
  {{ form.media.css }}
{% endblock %}
