{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}My Groups{% endblock %}

{% block body_class %}my-groups{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    {% include "_messages.html" %}
	<div class="row">
		<h1>{{ object.pk }}. {{ object.title }}</h1>
	</div>
	<div class="row">
    <h4>time_limit: {{ object.time_limit }}</h4>
	</div>
	<div class="row">
    <h4>memory_limit: {{ object.memory_limit }}</h4>
	</div>
	<div class="row">
    <h4>code_length_limit: {{ object.code_length_limit }}</h4>
	</div>
	<div class="row">
		<h4>last_updated_time: {{ object.last_updated_time }}</h4>
	</div>
	<div class="row">
    <h4>author: {{ object.superadmin }}</h4>
	</div>
	<div class="row">
    <h4>is_spj: {{ object.is_spj }}</h4>
	</div>
	<div class="row">
		<div class="panel_content">
    <p>{{ object.problem_desc }}</p>
		</div>
    <div>
	<div class="row">
      <a href="{% url 'submission:submission-add' object.pk %}" class="btn btn-large btn-primary">Submit</a>
    <div>
  </div>
</section>
{% endblock %}
