{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}Problem List{% endblock %}

{% block body_class %}problem-list{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    {% include "_messages.html" %}
    <h1>Articles</h1>
    <div>
      <a href="{% url 'problem:problem-add' %}" class="btn btn-large btn-primary">Add</a>
    </div>
    <ul>
      {% for problem in object_list %}
      <li><a href="{%url 'problem:problem-detail' problem.pk %}">{{ problem.title }}</a></li>
      {% empty %}
      <li>No articles yet.</li>
      {% endfor %}
    </ul>
    {% bootstrap_pagination page_obj %}
  </div>
</section>
{% endblock %}
