{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load django_tables2 %}

{% block head_title %}Problem List{% endblock %}

{% block body_class %}problem-list{% endblock %}

{% block body_base %}
<section class="jumbotron">
  <div class="container">
    {% include "_messages.html" %}
    <h1>Problems</h1>
    <div>
    </div>
    <div>
      <form id="filter" action="" method="get" class="form-inline">
           {% bootstrap_form filter.form %}
        <div class="form-group">
          <input value="Filter" type="submit" id="group-search-submit" class="btn btn-large btn-primary"/>
        </div>
      </form>
    </div>
    {% render_table problems_table %}
    {% if request.user in rootGroup.user_group.user_set or request.user.is_staff %}
    <div>
      <a href="{% url 'problem:problem-add' %}" class="btn btn-large btn-primary">Add</a>
    </div>
    {% endif %}
    {% bootstrap_pagination page_obj %}
  </div>
</section>
{% endblock %}
