
<!DOCTYPE html>
<html lang="zh">
<head>
    <!-- Meta info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="kAri Online Judge">
    <meta name="author" content="jffifa, zhyu, eucho9, aswmtjdsj, thomas0726, lyysdy, szefany, fancl20">


    <!-- Le styles -->

    <style type="text/css">
        kari-prob-desc {
            margin-bottom: 24px;
        }
        kari-prob-btn a.btn {
            min-width: 50px;
            margin-right: 12px;
        }
        kari-prob-desc strong, .kari-prob-desc em {
            color: #111;
        }
        kari-prob-info-spj {
            color: #1f65bd;
        }
        kari-prob-img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
        }
    </style>
    <title>A. Study sister&#39;s dragon - kAri Online Judge</title>
</head>

<body>

<div id="problem_info" class="kari-head-info">
    <span><strong>时间限制 </strong>1000 ms</span>
    <span><strong>内存限制 </strong>65536 KB</span>
    
</div>

<!-- contest_notice -->


<div>
<div class="kari-prob-desc">
<h2>题目描述</h2>
<p>Study sister plays the game coc everyday. One day, she asked Study brother to donate a dragon into her castle, but Study brother refused because the dragon cost too much.<br />
At last, they decide to play a rock game, and if Study brother lose the game, he would donate a dragon.<br />
There are several piles of rocks, and they pick some rocks from one pile alternatively. According to game theory, it is easy to tell who would win the game. So Study brother made a new rule. Before the game starting, Study brother will pick a random number of&nbsp;rocks(might be zero)&nbsp;but not all of them from each pile, and then they start play the game.<br />
Now Study brother wants to know his chance to win.<br />
As a gentleman, Study brother alway let Study sister to pick first when they play the game.</p>

</div>
<div class="kari-prob-desc">
<h2>输入格式</h2>
<p>There are several test case. The first line of each test case contains an integer n, means the number of piles. Then a line with n numbers shows the number of rocks of each pile. n &lt;= 1000. The number of rocks in each pile is smaller than 128.</p>

</div>
<div class="kari-prob-desc">
<h2>输出格式</h2>
<p>For each test case, print on line, Study brother&#39;s probability of winning.</p>

</div>
<div class="kari-prob-desc">
<h2>输入样例</h2>
<pre><code>2
2 2</code></pre>
</div>
<div class="kari-prob-desc">
<h2>输出样例</h2>
<pre><code>
0.500000

hint
They may get 1,1 or 1,2 or 2,1 or 2,2,so the the probability is 0.5</code></pre>
</div>
</div>
</body>
</html>
