{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Home Page{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            <h1>{% blocktrans %}Welcome to<br>Excited Online Judge{% endblocktrans %}</h1>
            <p>
                {% blocktrans %}
                This Oj system has not been completed till now. If you find some bug, welcome to point it to us.
                Developer Mail: bupt2013211450@gmail.com
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
{% endblock %}
